body {

}

.container {
  display: inline-block;
  width: 800px;
}

.left-column {
  float: left;
  width: 40%;
  background-color: aliceblue;
}

.right-column {
  float: left;
  width: 60%;
  background-color: brown;
}
