body {
  background-color: #74C4D9;
}

.container {
  display: inline-block;
  width: 800px;
  margin-top: 150px;
  margin-left: calc(50% - 400px);
}

.left-column {
  width: 40%;
  float: left;
  padding: 40px;
  padding-bottom: 20px;
  background-color: #4836A9;
  color: white;
}

 h1 {
 }

a{
  color: white;
}

.right-column {
  width: 60%;
  float: left;
  padding: 60px;
  background-color: #FFFFFF;
}
